.background {
  background-color: rgba(20,20,20,0.7) ;
  /*color: black !important;;*/
}

h1{
  font-weight: lighter;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }
.selected {
  font-weight: bolder;
  font-size: larger;
}
