<div class="mx-3 height_full">
  <div class="row height_full">
    <div class="col-3 background">
      <i routerLink="/courses"
         class=" mx-4  fa-lg fa fa-arrow-left">
      </i>
      <h1 style="display: inline-block"
          class="text-white text-center my-4">Modules
      </h1>
      <ul class="list-group">
        <li class="list-group-item background text-white grow"
            [ngClass]="{'bg-primary': module.id == moduleId}"
            *ngFor="let module of modules">
          <a  class="text-white" routerLink="/course/{{courseId}}/module/{{module.id}}">{{module.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col-9">
      <div class="row my-3 mx-5">
        <app-lesson-tab></app-lesson-tab>
      </div>
      <div class="row mx-5 my-5">
        <app-topic-pill></app-topic-pill>
      </div>
    </div>
  </div>
</div>
